APP_NAME=IPPFUSystem
APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:Q6hTFm5vCCNdBzd/AQir9Yon2bPP/SmjwgrKPnYuFD4=
APP_URL=http://172.17.16.125:8091


LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlsrv
DB_HOST=172.17.16.125
DB_PORT=1433 
DB_DATABASE=IPPFUM
DB_USERNAME=IPPFUM
DB_PASSWORD=Infra@2025

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_CLIENT=predis


MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=0078erms@gmail.com
MAIL_PASSWORD=ajdyijjbzvtltgdx
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=0078erms@gmail.com
MAIL_FROM_NAME="IPPFU System"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
EXTERNAL_AUTH_URL=http://172.17.16.13:8888/api/auth/
EXTERNAL_USER_URL=http://172.17.16.13:8888/OFMIS/user