.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}

body {
overflow-x: hidden;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    max-height: auto;
    border: 2px solid #ddd;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    white-space: nowrap;
    font-size: 14px; 
}

th, td {
    padding: 2px 5px;
    border: 1px solid #ddd;
    text-align: left;
    word-wrap: break-word; 
    word-break: break-word;
    white-space: normal;
}

tr {
    padding: 2px 5px;
}
thead {
    position: sticky;
    top: 0;
    background: #f8f9fa;
    z-index: 2;
}

tbody tr:first-child td {
    border-top: none;
}

/* Freeze the first column*/
/* td:first-child, th:first-child {
    position: sticky;
    left: 0;
    background: #ffffff;
    z-index: 3;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.table-hover tbody tr:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5) !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    position: relative; /* Prevents movement */
/* } */
