.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}

body {
overflow-x: hidden;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    max-height: auto;
    border: 2px solid #ddd;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    white-space: nowrap;
    font-size: 14px; 
}

th, td {
    padding: 2px 5px;
    border: 1px solid #ddd;
    text-align: left;
    word-wrap: break-word; 
    word-break: break-word;
    white-space: normal;
}

tr {
    padding: 2px 5px;
}
thead {
    position: sticky;
    top: 0;
    background: #f8f9fa;
    z-index: 2;
}

tbody tr:first-child td {
    border-top: none;
}

.empty-field {
    border: 2px solid red !important;
    background-color: #ffe6e6;
}

.navbar-nav .nav-link {
    transition: all 0.2s ease-in-out;
    color: #212529; /* default Bootstrap dark */
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: #dc3545; /* Bootstrap's text-danger */
    transform: translateY(-2px);
    font-weight: 600;
    text-decoration: underline;
  }
  
  .navbar-nav .dropdown-menu .dropdown-item {
    transition: background-color 0.2s, color 0.2s;
  }
  
  .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa; /* light gray background */
    color: #dc3545;
    font-weight: 600;
  }
  
  .status-card:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15) !important;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.status-card:active {
    transform: scale(0.97);
    transition: transform 0.1s ease;
}
